.banner-image-style{
    width: 600px;
    height: 422.8px;
    left: 633px;
    top: 112px;
    padding-left: 49px
}
.banner-header-style{
    width: 397px;
    height: 180px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    letter-spacing: 0.01em;
    color: #111430;
}
.paragraph-style-banner{
    width: 370px;
    height: 83px; 
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.005em;
    color: #000000;
}
.btn-banner{
    width: 170px;
    height: 45px;
    background: #111430;
    border-radius: 14px;
    color: whitesmoke;
}