.login, .loginForm{
    margin: 0 auto;
}

.login{
    height: 600px;
    background-color: #E5E5E5;
    width: 70%;
    box-sizing: border-box;
}
.loginPart{
    text-align: center;
    padding-top: 40px;
}
.loginPart img{
    width: 200px;
}
.loginForm{ 
    width: 458px;
    height: 337px;
    background: #ffffff;
    border:1px solid #ABABAB;
    border-radius: 34px;
    margin-top: 60px;
    text-align: center;
    box-sizing: border-box;

}

.google{
    width: 80%;
    top: 30;
    margin: 0 auto;
    margin-top: 80px;
}
.google h4{
    font-weight: 700;
    padding-bottom: 10px;
}
.google p{
    font-size: 14px;
    font-weight:600;
}
.google button{
    border: 1px solid gray;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 35px;
    width: 86%;
    background-color: white;
    font-size: 17px;
    font-weight: 600;
}

.google img{
    width: 25px;
    float: left;
}
.google button:focus{
    outline: none;
}